body {    
        font-family: "Roboto", sans-serif;
        color: #434455;  
        background-color: #ffffff;                   
}


a {
    text-decoration: none;
  
}

ul {
    list-style-type: none;
   
}


.logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;        
        
}
.logo-studio {
    color: #2e2f42;
}

.nav-title {
    color: currentColor;
}

.nav-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}
.nav-items:hover {
    color: #404bbf ;
}
.nav-title:focus {
    color: #404bbf;
}
/* Section Address */
.adr {
    font-style: normal
}

.contacts-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-text:hover {
    color: #404bbf;
}
.contacts-text:focus {
    color: #404bbf;
}

/* Section Hero image */

.hero-image {
    background-color: #2E2F42;
    

}
.hero-image-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #ffffff;
    
    
}
button {
    cursor: pointer;
    background-color: #4D5AE5;
   
    
}
.button-hero {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
   
}
.button-hero:hover {
    background-color: #404bbf;
}
.button-hero:focus {
    background-color: #404bbf;
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section Our team */

.team {
    background-color: #F4F4FD;
   
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    
}

.team-items {
    background-color: #ffffff;
    
           
    
}
/* Cards Team */

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}
.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

/* Section Portfolio */

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    
}



.portfolio-service {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}
.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   
}


/* Footer */

footer {
    background-color: #2E2F42;
}


.logo-ftr {
    color: #F4F4FD;
}


.footer-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    
}